<h2>Seu pagamento foi aprovado</h2>

<h4>Cliente:</h4>
<p> <%= @user.first_name %></p>

<h4>Agendamento:</h4>
<p><%= @appointment.appointment_code %></p>

<h4>Datas:</h4>
<p><%= "#{@appointment.start_at.strftime("%d/%m/%Y %H:%M:%S")} - #{@appointment.end_at.strftime("%d/%m/%Y %H:%M:%S")}" %></p>

