<h2>Seu Agendamento foi cancelado</h2>

<h4>Cliente:</h4>
<p> <%= @user.first_name %> </p>

<h4>Codigo Agendamento:</h4>
<p><%= @appointment.appointment_code %></p>

<h4>Datas:</h4>
<p><%= "#{@appointment.start_at.strftime("%d/%m/%Y %H:%M:%S")} - #{@appointment.end_at.strftime("%d/%m/%Y %H:%M:%S")}" %></p>

<h3>Cancelamento:</h3>
<p>Data de cancelamento: <%= @payment.ended_at.strftime("%d/%m/%Y %H:%M:%S") %></p>

<h3>Motivo:</h3>
<p> Não encontrado seu pagamento, ate a data do inicio do serviço.</p>
